#about {
  max-width: 70%;
  text-align: center;
  align-items: center;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

#contact {
  max-width: 70%;
  text-align: center;
  align-items: center;
  margin: auto;
  padding-bottom: 100px;
  padding-top: 30px;
}

#projects {
  max-width: 40%;
  text-align: center;
  align-items: center;
  margin: auto;
}

#projectsHeader {
  padding-bottom: 10px;
}